.custom-text-color {
  color: rgba(77, 77, 77, 1);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animated-link {
  animation: slideIn 0.65s ease-in;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.04);
  z-index: 999;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background: rgba(255, 255, 255, 0.852);
}
